.wrapper {
    height: 741px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 11fr;
    background-color: #f2f2f2;
}

.aside {
    height: 100%;
    border-bottom-right-radius: 10px;
}

.container {
    height: 100%;
    width: 100%;
    margin: 0% 0%;
}