.item {
    height: 60px;
    margin-top: 8px;
}

.namelabel {
    margin-left: 10px;
}
@media (max-width: 768px) {
    .item {
        font-size: 8px;
        margin-top: 4px;
    }
    .item div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .item label {
        margin: 0%;
    }
    ul {
        padding-left: 0%;
        margin-left: 0%;
    }
    }